/* #212121; цвет основного текста */

/* #757575; вторичный цвет текста */

/* #2196F3; цвет логотипа */

/* #ffffff цвет внутри кнопки */

/* rgba(255, 255, 255, 0.6); цвет подвала имейл и телефон */

/* #2F303A; фон решения безнеса */

/* #F5F4FA фон наша команда */

/* logo-style */

:root {
  --general-color-text: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --background-color-blue: #2f303a;
  --text-title-white: #ffffff;
  --bgc-button: #e5e5e5;
  --bgc-team: #f5f4fa;
}
/* Body */
body {
  background-color: #ffffff;
  color: var(--general-color-text);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;

}

/* logo */
.logo {
  color: #212121;
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.navigation .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo .web {
  color: var(--accent-color);
}
.logo .studio {
  color: var(--text-title-white);
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
}
.page-header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
header .container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}



.qualities-lists :not(:last-child) {
  margin-right: 30px;
}


.qualities-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: var(--bgc-team);  
  border-radius: 4px;
  margin-bottom: 30px;
}

.qualities-list-icon {
  
  width: 70px;
  height: 70px;
  color: var(--title-text-color);
  padding-left: 0px;
}


.social-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}
.social-list-icon {
  width: 20px;
  height: 20px;
  color: #AFB1B8;
  fill: currentColor;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
  
}



.social-list-icon-footer {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  color: var(--text-title-white);
}
.social-list-items:not(:last-child) {
  margin-right: 10px;
 }

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
 
  
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: var(--accent-color);
  fill: #ffffff ;

}

.company-list-icon1 {
  width: 44.27px;
  height:49.23px;
  fill: #AFB1B8;
}

.company-list-icon2 {
  width: 40px;
  height:52px;
  fill: #AFB1B8;
}.company-list-icon3 {
  width: 41px;
  height:42.6px;
  fill: #AFB1B8;
}.company-list-icon4 {
  width: 79.66px;
  height:42.02px;
  fill: #AFB1B8;
}.company-list-icon5 {
  width: 59px;
  height:47px;
  fill: #AFB1B8;
}.company-list-icon6 {
  width: 88.48px;
  height:45.44px;
  fill: #AFB1B8;
}

/* site-nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link:hover,
.site-nav,
.link:focus {
  color: var(--accent-color);
}
.site-nav .blue {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* contacts-list up */
.contacts-list {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
  
}

.contacts-list .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list .link {
  display: flex;
  align-items: center;
  color: var(--general-color-text);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}
.envelope-img {
  
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.phone-img {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color)
}


/* Hero */
.hero {
  max-width: 1600px; 
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
 rgba(47, 48, 58, 0.4),
 rgba(47, 48, 58, 0.4)
  ),
   url(../images/Hero/Img\ hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.hero .container {
  width: 696px;
}
.hero .title {
  color: var(--text-title-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 30px;
}
/* Button Hero */
.button {
  color: #ffffff;
  background-color: #2196f3;
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;

  cursor: pointer;

  width: 200px;
}

/* qualities */

.qualities,
.product-work,
.team-section,
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.qualities-list {
  display: flex;
}

.team-section .item:not(:last-child),
.product-work .item:not(:last-child),
.qualities .item:not(:last-child) {
  margin-right: 30px;
}
.qualities .item {
  text-align: left;

  width: 270px;
}

.qualities .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 10px;
}
.qualities .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

/* product-work */
.product-work .work-list {
  display: flex;
}

.product-work .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 50px;
}

/* team-section */
.team-list {
  display: flex;
}

.team-section .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 50px;
}

.img-team {
  margin-top: 0px;
  margin-bottom: 0px;
}

.team-section .padding-studio {
  padding: 30px 32px;
}
.team-section .name-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-top: 0px;
  margin-bottom: 10px;
}

.team-section .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  
  margin-top: 0px;
  margin-bottom: 16px;
}

.team-section {
  background-color: var(--bgc-team);
  align-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  max-width: 1600px;
}

.team-section .item {
  background-color: #fff;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* companies*/
.companies-section {
  height: 370px;


}

.companies {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;

}

.companies-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
}
.company-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  margin-top: 0px;
  padding-top: 94px;}


.companies-link {
  display: flex;   
  border: 1px solid;
  color: #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;  
  
 
  
}
.companies-names:not(:last-child) {
  margin-right: 30px;
  
}
.companies-link:hover,
.companies-link:focus {
   border-color: var(--accent-color);
   
 }
 

 .companies-link:hover .img,
 .companies-link:focus .img {

  fill: var(--accent-color);
}
  

/* Footer */
.footer {
  background-color: var(--background-color-blue);

}
.footer .item:first-child {
  display: block;
  margin-bottom: 9px;
}
.footer .address {
  display: block;
  margin-bottom: 9px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer .container {
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0px;
}

.address {
  color: var(--text-title-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer1 {
  margin-right: 70px;
}
.footer .info {
  color: var(--general-color-text);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.footer1 {
  width: 231px;
  height: 81px;
}

/* footer second-part*/
.footer2 {
  display: flex;
  align-items: baseline;
}
.footer-second-part {
  width: 206px;
  height: 80px;
  margin-top: 0px;
  margin-left: 0px;
  
}

.footer-second-title {
  Line-height: 16.41px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 0px;
  
  
}

/* Portfolio HTML */
/* filter portfolio */

.filter-button {
  display: flex;
  justify-content: center;
  
}

.filter-button .link {
  color: var(--title-text-color);
  background-color: var(--bgc-team);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
}

.filter-button .btn-list:not(:last-child) {
  margin-right: 8px;
}

.filter-button .link:hover,
.filter-button .link:focus {
  background-color: var(--accent-color);
  color: var(--text-title-white);
}
button {
  font-family: inherit;
}

/* h1 portfolio */


/* portfolio cards */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  padding-top: 50px;
  padding-left: 0px;
  margin: 0px;
}


.portfolio .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  text-align: left;

  
}

.portfolio .link {
  display: block;

}
.portfolio .link:hover,
.portfolio .link:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}




.portfolio .item.item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.img-port {
  margin-top: 0px;
}

.portfolio .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 20px;
  padding-left: 24px;
}

.portfolio .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
}




.portfolio .link:visited {
  color: var(--general-color-text);
}



